# ide files
.idea/*

# temp files
__pycache__/
config.ini
.pytest_cache

# data files
data/*
!.keep
!data/dummy_output_1_only.csv
!data/dummy-data.csv
!data/trainset.csv
!data/testset.csv
!data/TSLA.csv

# compiled files
*.pyc

# settings files
.env
.vscode/*

# models
*.h5
*/structured_data_regressor/*
